{% extends "base.html" %}

{% block 'content'%}
<div class="container">

    <form method="POST">
        {% csrf_token %} 
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Agregar Inmueble</button>
    </form>


    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">M2 Construidos</th>
                <th scope="col">Estado</th>
                <th scope="col">Direccion</th>
                <th scope="col-2">Acciones</th>

            </tr>
        </thead>
        <tbody>
            {% for inmueble in lista_inmuebles %}
                <tr>
                    <td> {{inmueble.nombre}} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}