{% extends "base.html" %}
{% block 'content'%}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-5">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccione tipo propiedad</option>
                    {% for tipo in tipo_inmuebles %}
                    <option value="{{tipo.id}}">{{tipo.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-5">

                <input type="text" class="form-control" id="comuna" name="comuna" placeholder="Ingrese comuna">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>

    <div class="my-5">
        <h1>Lista de Inmuebles</h1>

        {% if lista_inmuebles %}
            <ul>

                {% for inmueble in lista_inmuebles %}
                <li>
                    <a href="">{{ inmueble.id }}</a> {{inmueble.nombre}} - {{inmueble.descripcion}}
                </li>
                {% endfor %}

            </ul>
        {% else %}
            <p>No hay Propiedades para arrendar.</p>
        {% endif %}

        {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
                    {% endif %}
                    <span class="page-current">
                        Pagina {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
        {% endblock %}
    </div>

</div>
{% endblock %}